# Secrets
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
build/
*.log
npm-debug.log*

# .NET
bin/
obj/
*.user
*.suo
*.pdb
publish/

# IDE
.vs/
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Backups y artefactos
*.bak
backup.sql
TestResults/
